
/*Global styles
----------------------------*/
html{
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing: inherit;
}


a{
color:rgb(255, 0, 179)
}
.btn{
    color:rgb(239, 239, 233);
    background:rgb(232, 75, 18, 80%);
    padding:8px;
    border-radius: 4px;
    display: inline-block;
}

.btn:hover {
    text-decoration:none;
   

}

img{
    width:300px;
}

ul.a {
    list-style-type: circle;
  }

  body {
    background-color: rgb(239, 160, 132);
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
    font-size: 18px;
    line-height: 1.5;
}

*{
    color:white;

}

h1{
    color: rgb(250, 247, 247);
   margin:0
    
}

@import url(https://fonts.googleapis.com/css?family=Six+Caps);

.modernist {
  font-family: six caps;
  text-transform: lowercase;
  background: rgb(239,160,132);
  background-size: 100%;
  color: white;
  letter-spacing: .2em;
  font-size: 4rem;
  text-shadow: .07em .07em 0 #ffd037, .1em .1em 0 white;
}

h2{
    color:pink;
    font-size: 30px;
   

}

h3{
    color: rgb(199,84,26)

}

.whiteback{
    background: white;
    color:#ffd037;
    font-size: 35px;
    margin:0
}

.example1 {
    color:rgb(199, 84, 26);
   

}

.content-wrap{
    width: 800px;
    margin: 0 auto;
    padding:60px 0;

}

/*Projects
---------------*/

.labels{
    background-color: white;
}

.project-items {

    overflow: hidden;
    border-bottom: 1px dashed #ffd037;
    padding:25px 0
}
.project-items img {
    float: left;
    margin-right: 20px

}

/*Work Experience
---------*/


/*Footer
---------------*/

.footlink{
    padding:0;
    color:white;

}
.footercolor{
    color:rgb(199, 84, 26);

}
footer{
    background-color: #ffd037;
    
padding: 2px;
}